<?xml version="1.0" encoding="UTF-8"?>
<ServerPack version="4.1" xmlns="http://www.mcupdater.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mcupdater.com http://files.mcupdater.com/ServerPackv2.xsd">
	<Server id="config" abstract="false" name="config" newsUrl="about:blank" version="1.21.1" generateList="false" autoConnect="false" revision="" mainClass="cpw.mods.bootstraplauncher.BootstrapLauncher" launcherType="Vanilla">
		<Module name="Expanded Ecosphere" id="expanded_ecosphere" depends="" side="BOTH">
			<Size>0</Size>
			<Required>false</Required>
			<ModType>Override</ModType>
			<ConfigFile>
				<URL priority="0">https://raw.githubusercontent.com/edwardg117/Geronimos-Create/refs/heads/main/configs/expanded_ecosphere/config.json5</URL>
				<Path>config/expanded_ecosphere/config.json5</Path>
				<NoOverwrite>true</NoOverwrite>
				<MD5>4714db335683d0ba8804afbceb9e903b</MD5>
			</ConfigFile>
		</Module>
	</Server>
</ServerPack>
